// The entry point for all SCSS
@import "elements";

// TEMP TEMP TEMP
// TEMP styles just to help sketching this feature
.alert-success {
  background-color: rgb(146, 210, 255);
  padding: 1rem;
}
.alert-danger {
  background-color: pink;
  padding: 1rem;
}
// TEMP TEMP TEMP
