<h1>My multi-factor authentication setup</h1>

<h2>Summary</h2>
<p>
  <% if current_user.otp_enabled_and_required? %>
    Yay! Two-factor authentication is <strong>enabled</strong> on your account.
  <% else %>
    Two-factor authentication is currently <strong>disabled</strong> on your account. You can enable it using the links below.
  <% end %>
</p>
<p>
  <% if current_user.otp_backup_codes.present? %>
    Backup codes are <strong>stored</strong> on your account.
  <% else %>
    Backup codes are <strong>not stored</strong> on your account.
  <% end %>
</p>

<h2>Change your MFA setup</h2>
<ul>
  <li><%= link_to "Enable MFA on my account", new_users_mfa_path %></li>
  <li><%= link_to "Reset my MFA (lost device)", edit_users_mfa_path %></li>
  <li><%= link_to "Disable MFA on my account", users_mfa_path, method: :delete %></li>
  <li><%= link_to "Generate new backup codes (discards old codes)", show_backup_codes_users_mfa_path %></li>
</ul>

