<h1>My Multi-factor Authentication</h1>

<ul>
  <li><%= link_to "Reset my MFA (lost device)", edit_users_mfa_path %></li>
  <li><%= link_to "Disable MFA on my account", users_mfa_path, method: :delete %></li>
</ul>


<h2>Download backup codes</h2>

<p>
TODO: some text explaining backup codes
</p>

<pre><code>
code
code
code
code
code
</code></pre>
