<h1>Your Two-factor authentication secret has been reset!</h1>

<p>
Your Two-factor authentication secret has been reset so your existing TOTP codes will not work. Use
the QR code below to store a new secret in your TOTP device. Do not leave this
page until you have stored the new secret in your TOTP device or you won't be
able to log in again.
</p>

<%=
  render partial: "form",
         locals: {
           issuer: Users::TwoFactorAuthsController::ISSUER,
           user: current_user,
           verify_otp_submit_url: users_two_factor_auth_path,
           verify_otp_submit_method: :patch
         }
%>
