<h1>Download backup codes</h1>

<div class="alert alert-danger" role="alert">
  Save these codes before you leave this page. These codes cannot be shown to you again!
</div>

<div class="alert alert-danger" role="alert">
  If you refresh this page then new codes will be generated and any old codes will be invalidated!
</div>

<p>
Each backup code can be used to sign in <strong>once only</strong>. Save these codes securely. You can use them to sign in if you lose your Authenticator device.
</p>

<pre class="border bg-light p-3">
<%= @backup_codes.join("\n") %>
</pre>
<code class="border">
</code>

<%= link_to "Back to my MFA setup", users_two_factor_auth_path %>
